@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

body {
  background-color: #a6cbf599;
  font-family: "Roboto", sans-serif;
}

.addPdf {
  border: 1px solid #325bc273;
  margin-top: 40px;
  border-radius: 10px;
  padding: 20px;
}
