@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

body {
  background-color: #a6cbf599;
  font-family: "Roboto", sans-serif;
}

.addPdf {
  border: 1px solid #325bc273;
  margin-top: 40px;
  border-radius: 20px;
  padding: 20px;
}

.button {
  border: none;
  font-weight: 600;
  color: rgb(22, 19, 19);
}
.button_two {
  border: 2px solid #629fe4;
  border-radius: 40px;
  font-weight: 600;
  color: rgb(22, 19, 19);
}
.sfondo {
  background: url("../public/sfondo.png");
  opacity: 60%;
  margin-top: 20px;
}

.vibrate-1 {
  animation: vibrate-1 0.3s linear infinite both;
}
@keyframes vibrate-1 {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translate(-2px, 2px);
  }
  40% {
    transform: translate(-2px, -2px);
  }
  60% {
    transform: translate(2px, 2px);
  }
  80% {
    transform: translate(2px, -2px);
  }
  100% {
    transform: translate(0);
  }
}
